<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tic Tac Toe</title>

    <link rel="icon" href="logo.ico">
    <link href="./css/oxygen.css" rel="stylesheet" type="text/css">
    <link href='./css/roboto.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/font-awesome.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body ng-app="ticTacToe">
    <br/><br/><br/>
    <center>

        <div class="game-box-wrapper">

            <div class="game-box m-x-auto" ng-controller="GameCtrl">
                <header class="game-box-header text-center p-y">
                    <h1>Tic Tac Toe</h1>
                    <h6>Defeat the CPU</h6>
                </header>

                <div class="game-box-controls-wrapper">
                    <div class="game-box-controls m-x-auto text-center">
                        <h4>Choose your Sign</h4>
                        <div class="controls-button controls-x">
                            <button type="button" class="control-button active" ng-class="{'active': playerSign == 1}" ng-click="changeSign(1)">
                        X
                    </button>
                        </div>

                        <div class="controls-button controls-o">
                            <button type="button" class="control-button" ng-class="{'active': playerSign == -1}" ng-click="changeSign(-1)">
                        O
                    </button>
                        </div>
                    </div>
                </div>

                <div class="game-box-board">

                    <div class="board-row clearfix" ng-repeat="row in board track by $index">
                        <div class="board-tile" ng-click="playTile($parent.$index, $index)" ng-repeat="tile in row track by $index" ng-switch="board[$parent.$index][$index]" ng-class="[highlighted[$parent.$index][$index]]">
                            <div class="board-tile-image blank" ng-switch-when="0"></div>
                            <img src="xsign.png" alt="X" class="board-tile-image x" ng-switch-when="1">
                            <img src="osign.png" alt="O" class="board-tile-image o" ng-switch-when="-1">
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="message p-y-lg" ng-controller="MessageCtrl" ng-class="[messageHighlightClass, {'active': messageActive}]">
            <h1 class="display-1">{{messageContents}}</h1>
        </div>
    </center>

    <script src="./js/angular-min.js"></script>
    <script src="./js/animate-min.js"></script>
    <script src="./js/jquery-min.js"></script>
    <script src="./js/tile.js"></script>
    <script src="./js/message-controller.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/resize-handler.js"></script>
</body>

</html>